/* webfont */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

html {
    font-size: 16px;
    /* rem의 기준 */
}

body {
    font-family: 'pretendard';
    font-size: 16px;
    line-height: 26px;
    color: #333;
}

#wrap {
    min-width: 1400px;
}

#header {
    background-color: #fff;
    height: 100px;
}

.inner_header {
    width: 1320px;
    margin: 0 auto;
    padding: 23px 0;
    display: flex;
    justify-content: space-around;
}

.gnb {
    display: flex;
    align-items: center;
}

.gnb> li {
    position: relative;
}

.gnb> li> a {
    padding: 30px 50px 39px;
    font-size: 18px;
    font-weight: bold;
}
.gnb> li>:hover {
    color: #64352D;
}
.gnb li:hover .submenu {
    display: block;
}
.submenu {
    display: none;
    position: absolute;
    top: 62px;
    left: 0;
    width: 100%;
    z-index: 50;
}
.submenu li a {
    display: block;
    padding: 10px 0;
    text-align: center;
    background-color: #64352D;
    color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 18px;
    font-weight: bold;
}
.submenu li a:hover {
    background-color: #522820;
}
.link {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.link li.line::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 13px;
    background-color: #aaa;
    margin: 0 10px;
    vertical-align: -1px;
}

#banner {
    position: relative;
    margin-bottom: 226px;
}

#banner .swiper {
    width: 100%;
    height: 100%;
}

#banner .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#banner .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    margin-right: 13px;
    background-color: #ccc;
    opacity: 1;
}

#banner .swiper-pagination-bullet-active {
    background-color: #64352D;
}

#books .swiper {
    width: 1320px;
    height: 544px;
    position: absolute;
    top: 230px;
    left: 50%;
    margin-left: -660px;
    z-index: 12;
    border-radius: 0 0 50px;
    box-shadow: 0 0 30px #00000035;
}

#books .swiper-slide {
    text-align: left;
    font-size: 18px;
    background: #f4e8e1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#books .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#books .swiper-pagination-bullet {
    width: 86px;
    height: 68px;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #fff;
    opacity: 1;
    font-size: 24   px;
    line-height: 36px;
}
#books .swiper-pagination-bullet-active {
    background-color: #1e1e1e;
    color: #fff;
}

.slide_text {
    position: absolute;
    top: 247px;
    left: 374px;
    z-index: 15;
    text-align: left;
}

.foreb {
    font-family: 'Along Sans s2', sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: #431912;
    padding-bottom: 21px;
    line-height: 102px;
}

.title {
    color: #F4E8E1;
}

.title2 {
    color: #fefefe;
}

.slide_text p {
    color: #fefefe;
    font-size: 30px;
    font-weight: 600;
    line-height: 43px;
}

#brand {
    width: 1320px;
    margin: 0 auto;
    text-align: center;
}

.about_title {
    position: relative;
    height: 86px;
}

.sec p {
    font-size: 32px;
    line-height: 38px;
}

.about_title span {
    font-size: 40px;
    line-height: 48px;
    font-weight: 500;
    position: absolute;
    margin-left: -114px;
    z-index: 15;
}

.about {
    margin-top: 65px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
}

.border {
    width: 244px;
    height: 14px;
    background-color: #D8C2B6;
    position: absolute;
    top: 70px;
    left: 50%;
    margin-left: -125px;
    z-index: 0;
}

.border2 {
    width: 285px;
    height: 14px;
    background-color: #a47067;
    position: absolute;
    top: 70px;
    left: 50%;
    margin-left: -144px;
    z-index: 0;

}

.border3 {
    width: 341px;
    height: 14px;
    background-color: #c7a694;
    position: absolute;
    top: 70px;
    left: 50%;
    margin-left: -170.5px;
    z-index: 0;

}
.border4 {
    width: 264px;
    height: 14px;
    background-color: #c7a694;
    position: absolute;
    top: 70px;
    left: 50%;
    margin-left: -132px;
}
.border5 {
    width: 310px;
    height: 14px;
    background-color: #c7a694;
    position: absolute;
    top: 70px;
    left: 50%;
    margin-left: -137px;
}


.brand_img {
    position: relative;
    overflow: hidden;
}

.brand_img img {
    width: 100%;
    display: block;
    transform: scale(1);
    transition: all 0.5s;
}

.brand_img:hover.brand_img img {
    transform: scale(1.1);
}

.cover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 431px;
    height: 471px;
    font-size: 43px;
    font-weight: bold;
    line-height: 51px;
    color: #fefefe;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(200px);
    transition: all 0.5s;
}

.brand_img:hover .cover {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.7s;
}

.btn {
    display: inline-block;
    border: 1px solid #77777777;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    padding: 10px 79px;
}
.bs_btn {
    margin-top: 50px;
    display: inline-block;
    border: 1px solid #77777777;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    padding: 10px 79px;
    background-color: #fefefe;
}
.btn:hover {
    background-color: #64352D;
    color: #fefefe;
}
.bs_btn:hover {
    background-color: #64352D;
    color: #fefefe;
}
#interior {
    margin-top: 108px;
    background-color: #f4e8e1;
    padding: 29px 0;
    box-sizing: border-box;
}

.inner_interior {
    width: 1320px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.interior_title {
    position: relative;
}

.interior_title span {
    font-size: 40px;
    line-height: 48px;
    font-weight: 500;
    position: absolute;
    margin-left: -135px;
    z-index: 15;
}

.img_wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 113px;
    position: relative;
}

.img_box1 {
    display: block;
    position: relative;
    overflow: hidden;
}

.img_box2 {
    height: 455px;
    display: block;
    position: relative;
    overflow: hidden;
}

.img_box img {
    display: block;
    width: 100%;
}

.text_box {
    text-align: right;
    position: absolute;
    top: 495px;
    right: 0;
}

.text_box h2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 47px;
}

.text_box p {
    margin-top: 15px;
    font-size: 23px;
    line-height: 33px;
    font-weight: 200px;
}

.cover2 {
    width: 622px;
    height: 622px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fefefe;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    opacity: 0;
    transform: translate(-100px, -100px);
    transition: all 0.5s;
}

.box_2 {
    width: 683px;
    height: 455px;
    position: absolute;
    transform: translate(100px, -100px);
}

.cover2 p {
    color: #c8c8c8;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.cover2 span {
    font-size: 38px;
    font-weight: bold;
    line-height: 60px;
}

.img_box1:hover .cover2 {
    opacity: 1;
    transform: translateY(0);
    transition: all 1s;
}

.img_box2:hover .box_2 {
    opacity: 1;
    transform: translateY(0);
    transition: all 1s;
}

.inner_interior .btn {
    margin: 94px 0 52px;
}
.bg_wrap {
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 870px;
}

.books_bg {
    width: 1920px;
    height: 424px;
    background-image: url(../images/main/books_banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 80px;
    position: relative;
}

.books_title {
    color: #fefefe;
    position: relative;
}

.books_title span {
    font-size: 40px;
    line-height: 48px;
    font-weight: 500;
    position: absolute;
    margin-left: -161px;
    z-index: 15;
}
.bs_text {
    width: 542px;
}
.bs_text h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
}
.bs_text p {
    color: #777;
    font-size: 16px;
    margin-top: 39px;
}
.bs_text .hashtag {
    color: #333;
}
#menu {
    text-align: center;
    align-items: center;
    margin-bottom: 117px;
}
.menu_title {
    color: #333;
    position: relative;
    height: 86px;
}
.menu_title span {
    font-size: 40px;
    line-height: 48px;
    font-weight: 500;
    position: absolute;
    margin-left: -122px;
    z-index: 15;
}
.menu_title h2 {
    margin-top: 125px;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
}
@keyframes imgflow1 {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-1920px);
    }
}
.menu_flow ul {
    display: flex;
    justify-content: space-between;
    margin-top: 216px;
    margin-bottom: 91px;
    overflow: hidden;
}
.menu_flow ul li {
    animation: imgflow1 25s linear infinite;
    white-space: nowrap;
}
#other {
    width: 1320px;
    margin: 0 auto 170px;
    text-align: center;
    align-items: center;
}
.other_title {
    color: #333;
    position: relative;
    height: 86px;
    margin-bottom: 69px;
}
.other_title span {
    font-size: 40px;
    line-height: 48px;
    font-weight: 500;
    position: absolute;
    margin-left: -122px;
    z-index: 15;
}
.other_box {
    display: flex;
}
.left {
    width: 660px;
    height: 800px;
}
.letf_top {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fefefe;
    font-size: 46px;
    font-family: "ink Free";
    box-sizing: border-box;
    width: 660px;
    height: 300px;
    background: url(../images/main/contents1.png) no-repeat center;
}
.left_bottom {
    width: 660px;
    height: 500px;
    display: flex;
}
.left_bottom a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px 0 0 32px;
}
.bottom_l , .bottom_r {
    width: 330px;
    height: 100%;
    color: #fefefe;
    text-align: left;
    box-sizing: border-box;
}
.bottom_l {
    background: url(../images/main/content_event.png) center no-repeat;
}
.left_bottom h3 {
    font-size: 32px;
    font-weight: 800;
    line-height: 42px;
}
.left_bottom p {
    font-size: 13px;
    font-weight: 600;
    line-height: 17px;
}
.left_bottom span {
    font-size: 20px;
}
.left_bottom img {
    margin-top: 15px;
    display: block;
}
.line2 {
    width: 45px;
    height: 2px;
    background-color: #fff;
    opacity: 61%;
    margin: 30px 0 16px;
}
.bottom_r {
    background: url(../images/main/content_books.png) center no-repeat;
}
.right {
    width: 660px;
}
.right img {
    display: block;
    width: 100%;
    height: 800px;
}
#footer {
    border-top: 2px solid #777;
}
.inner_footer {
    box-sizing: border-box;
    width: 1320px;
    margin: 0 auto ;
    padding: 61px 83px 36px 4px;
    display: flex;
    justify-content: space-between;
}
.footer_link {
    display: flex;
}
.footer_link li {
    font-size: 14px;
    font-weight: 800;
    margin-right: 32px;
}
.footer_link li:nth-child(5) {
    color: #64352D;
}
.info {
    font-size: 12px;
    margin: 32px 0 26px;
    line-height: 20px;
}
.info p {
    margin-right: 9px;
    display: inline;
}
.bold {
    font-weight: 700;
}
.copy {
    color: #999;
    font-family: 'S-CoreDream';
    font-weight: 900;
    font-size: 12px;
    margin-bottom: 26px;
}
.sns {
    display: flex;
}
.sns li {
    margin-right: 21px;
}
.sns li a {
    display: block;
}
.sns li a img {
    display: block;
    width: 100%;
}