@keyframes bg {
    0% {
        transform: scaleX(0);
        transform-origin: 0%;
    }
    100% {
        transform: scaleX(100%);
        transform-origin: 0%;
    }
}
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

html {
    font-size: 16px;
    /* rem의 기준 */
}

body {
    font-family: 'Pretendard';
    font-size: 16px;
    line-height: 26px;
    color: #333;
}

#wrap {
    min-width: 1400px;
}

/* header */
#header {
    background-color: #fff;
    height: 100px;
}

.inner_header {
    width: 1320px;
    margin: 0 auto;
    padding: 23px 0;
    display: flex;
    justify-content: space-around;
}

.gnb {
    display: flex;
    align-items: center;
}

.gnb>li {
    position: relative;
}

.gnb>li>a {
    padding: 30px 50px 39px;
    font-size: 18px;
    font-weight: bold;
}

.gnb>li>:hover {
    color: #64352D;
}

.gnb li:hover .submenu {
    display: block;
}

/* submenu */
.submenu {
    display: none;
    position: absolute;
    top: 62px;
    left: 0;
    width: 100%;
    z-index: 50;
}

.submenu li a {
    display: block;
    padding: 10px 0;
    text-align: center;
    background-color: #64352D;
    color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 18px;
    font-weight: bold;
}

.submenu li a:hover {
    background-color: #522820;
}

/* link */
.link {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.link li.line::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 13px;
    background-color: #aaa;
    margin: 0 10px;
    vertical-align: -1px;
}

/* banner */
#banner {
    height: 320px;
    background: url(../images/sub/notices/banner.png) no-repeat center;
}

.banner_text {
    height: 100%;
    color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Noto Sans KR';
    font-weight: bold;
    line-height: 50px;
}

.banner_text h1 {
    font-size: 60px;
    margin-bottom: 15px;
}

.banner_text p {
    font-size: 24px;
    opacity: 80%;
}
/* container */
#container {
    width: 1320px;
    margin: 130px auto 0;
}
/* title */
.title {
    color: #464646;
    font-size: 20px;
}
.title span {
    font-weight: 600;
}
/* notices_header */
.notices_header {
    box-sizing: border-box;
    height: 94px;
    margin-top: 34px;
    border: 1px solid #7070704d;
    font-weight: 500;
    display: flex;
    text-align: center;
    align-items: center;
}
.number {
    width: 10%;
}
.name {
    width: 66%;
    text-align: center;
}
.writer,
.view {
    width: 7%;
}
.date {
    width: 10%;
}
.notices_fixed1,
.notices_fixed2,
.notices_fixed3,
.notices_basic {
    box-sizing: border-box;
    height: 86px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #F4E8E1;
    border-bottom: 1px solid #64352d80;
}
.notices_fixed1 .number,
.notices_fixed2 .number,
.notices_fixed3 .number {
    font-size: 20px;
}
.notices_fixed1 .name,
.notices_fixed2 .name,
.notices_fixed3 .name {
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    position: relative;
}
.notices_fixed1 .name.name a,
.notices_fixed2 .name.name a,
.notices_fixed3 .name.name a {
    position: relative;
}
.name a:hover {
    color: #64352D;
    text-decoration: underline;
}
.notices_fixed1 .name img,
.notices_fixed2 .name img,
.notices_fixed3 .name img {
    display: block;
    object-fit: none;
    margin-left: 5px;
    position: absolute;
    top: 0;
    right: -30px;
}
.notices_fixed1 .writer,
.notices_fixed2 .writer,
.notices_fixed3 .writer,
.notices_basic .writer {
    font-weight: 600;
    color: #64352D;
}
.notices_fixed1 .date,
.notices_fixed1 .view,
.notices_fixed2 .date,
.notices_fixed2 .view,
.notices_fixed3 .date,
.notices_fixed3 .view,
.notices_basic .date,
.notices_basic .view {
    font-weight: 500;
}
.notices_fixed1 .view,
.notices_fixed2 .view,
.notices_fixed3 .view,
.notices_basic .view {
    color: #777;
}
/* notices_basic */
.notices_basic {
    background-color: #fff;
}
.notices_basic .number {
    font-weight: 300;
    color: #777;
}
.notices_basic .name {
    text-align: left;
    font-weight: 500;
    position: relative;
}
/* pagination */
.pagination {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 62px;
}

.pagination ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 197px;
    height: 35px;
}

.order_prev,
.order_next {
    display: inline-block;
    border: 1px solid #64352D;
    border-radius: 50%;
    width: 28px;
    height: 28px;
}

.order_prev a::after {
    content: "";
    display: inline-block;
    width: 28px;
    height: 28px;
    background-image: url(../images/sub/search/prev_arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.order_next a::after {
    content: "";
    display: inline-block;
    width: 28px;
    height: 28px;
    background-image: url(../images/sub/search/next_arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.pg_number a {
    color: #777;
    font-size: 22px;
    font-weight: 400;
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    border-radius: 50%;
    padding-top: 5px;
    display: inline-block;
}

.pg_number a:hover {
    background-color: #64352D;
    color: #fff;
}
/* footer */
#footer {
    margin-top: 119px;
    border-top: 2px solid #777;
}

.inner_footer {
    box-sizing: border-box;
    width: 1320px;
    margin: 0 auto;
    padding: 61px 83px 36px 4px;
    display: flex;
    justify-content: space-between;
}

.footer_link {
    display: flex;
}

.footer_link li {
    font-size: 14px;
    font-weight: 800;
    margin-right: 32px;
}

.footer_link li:nth-child(5) {
    color: #64352D;
}

.info {
    font-size: 12px;
    margin: 32px 0 26px;
    line-height: 20px;
}

.info p {
    margin-right: 9px;
    display: inline;
}

.bold {
    font-weight: 700;
}

.copy {
    color: #999;
    font-family: 'S-CoreDream';
    font-weight: 900;
    font-size: 12px;
    margin-bottom: 26px;
}

.sns {
    display: flex;
}

.sns li {
    margin-right: 21px;
}

.sns li a {
    display: block;
}

.sns li a img {
    display: block;
    width: 100%;
}
