@keyframes drawline {
    0% {
        transform: scaleX(0);
        transform-origin: 0%;
    }

    100% {
        transform: scaleX(100%);
        transform-origin: 0%;
    }
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

html {
    font-size: 16px;
    /* rem의 기준 */
}

body {
    font-family: 'Pretendard';
    font-size: 16px;
    line-height: 26px;
    color: #333;
}

#wrap {
    min-width: 1400px;
}

/* header */
#header {
    background-color: #fff;
    height: 100px;
}

.inner_header {
    width: 1320px;
    margin: 0 auto;
    padding: 23px 0;
    display: flex;
    justify-content: space-around;
}

.gnb {
    display: flex;
    align-items: center;
}

.gnb>li {
    position: relative;
}

.gnb>li>a {
    padding: 30px 50px 39px;
    font-size: 18px;
    font-weight: bold;
}

.gnb>li>:hover {
    color: #64352D;
}

.gnb li:hover .submenu {
    display: block;
}

/* submenu */
.submenu {
    display: none;
    position: absolute;
    top: 62px;
    left: 0;
    width: 100%;
    z-index: 50;
}

.submenu li a {
    display: block;
    padding: 10px 0;
    text-align: center;
    background-color: #64352D;
    color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 18px;
    font-weight: bold;
}

.submenu li a:hover {
    background-color: #522820;
}

/* link */
.link {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.link li.line::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 13px;
    background-color: #aaa;
    margin: 0 10px;
    vertical-align: -1px;
}

/* banner */
#banner {
    height: 320px;
    background-image: url(../images/sub/request/banner.png);
    background-position: center;
    background-repeat: no-repeat;
}

.banner_text {
    height: 100%;
    color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Noto Sans KR';
    font-weight: bold;
    line-height: 50px;
}

.banner_text h1 {
    font-size: 60px;
    margin-bottom: 15px;
}

.banner_text p {
    font-size: 24px;
    opacity: 80%;
}

/* container */
#container {
    width: 1320px;
    margin: 0 auto;
}

.title {
    margin: 84px 0 107px;
    text-align: center;
    position: relative;
}

.title h1 {
    font-size: 55px;
    font-weight: bold;
    line-height: normal;
}

.border1 {
    width: 324px;
    height: 14px;
    background-color: #D8C2B6;
    position: absolute;
    top: 46px;
    left: 50%;
    margin-left: -162px;
    z-index: -15;
    animation: drawline 2s;
}

.notice_title {
    position: relative;
    margin-bottom: 23px;
}

.notice h1,
.how_to_title h1,
.limit_title h1 {
    font-size: 45px;
    font-weight: bold;
    line-height: normal;
    color: #64352D;
}

.border2 {
    width: 466px;
    height: 14px;
    background-color: #D8C2B6;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: -12;
    animation: drawline 2s;
}

.notice p {
    margin-top: 20px;
    display: flex;
    line-height: normal;
}

.notice p img {
    display: block;
    margin-right: 7px;
}

.btn1,
.btn2 {
    display: inline-block;
    font-size: 17px;
    font-weight: 400;
    line-height: 39px;
    width: 183px;
    height: 39px;
    border: 2px solid #64352D;
    background-color: #64352D;
    color: #fff;
    box-sizing: border-box;
    margin-top: 30px;
    margin-right: 20px;
    position: relative;
    transition: all .35s;
    text-align: center;

}

.btn1 span,
.btn2 span {
    position: relative;
    z-index: 2;
}

.notice a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #fff;
    transition: all .5s;
}

.notice a:hover {
    color: #64352D;
}

.notice a:hover:after {
    width: 100%;
}

.how_to_title {
    position: relative;
    margin-top: 115px;
    margin-bottom: 23px;
}

.border3 {
    width: 172px;
    height: 14px;
    background-color: #D8C2B6;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: -12;
}

.how_to_ui ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 85px;
}

.box {
    width: 270px;
    height: 160px;
}

.box_top {
    display: flex;
    width: 100%;
    height: 36px;
    background-color: #64352D;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.box_bottom {
    padding-top: 21px;
    text-align: center;
    width: 100%;
    height: 124px;
    border: 1px solid #333;
    border-top: none;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 500px;
    line-height: 20px;
}

.icon_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
}

.box_bottom img {
    display: block;
}

.next_arrow span img {
    display: block;
}
.limit {
    margin-bottom: 88px;
}
.limit_title {
    position: relative;
}

.border4 {
    width: 260px;
    height: 14px;
    background-color: #D8C2B6;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: -12;
}

.limit_list {
    margin-top: 52px;
}

.limit_list p {
    margin-top: 20px;
    display: flex;
    line-height: normal;
}

.limit_list p img {
    display: block;
    margin-right: 7px;
}

.etc {
    margin-top: 35px;
    margin-bottom: 72px;
    font-size: 18px;
    font-weight: bold;
    color: rgba(51, 51, 51, 0.702);
}
.btn_wrap {
    text-align: center;
}
.requst_btn {
    padding: 15px 64px 15px 29px;
    border-radius: 20px;
    border: 1px solid rgba(100, 53, 45, 0.5);
    display: inline-block;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background-image: url(../images/sub/request/link.svg);
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: 18px 18px;
    position: relative;
    transition: all .5s;
}
.requst_btn:hover {
    display: inline-block;
    background-color: #64352D;
    color: #fff;
    background-image: url(../images/sub/request/link_W.svg);
    background-repeat: no-repeat;
    background-position: 90%;
    transition: all .3s;
}
#container_footer {
    background-color: rgba(153, 153, 153, 0.1);
    padding: 39px 0;
}
.inner_container_footer {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inquire {
    display: flex;
    margin-right: 225px;
    align-items: center;
}
.inquire img {
    width: 57px;
    height: 57px;
    display: block;
    margin-right: 10px;
}
.inquire p,
.inquire_number p,
.mail p {
    font-weight: bold;
    color: #64352D;
}
.inquire p {
    font-size: 45px;
}
.inquire_number {
    margin-right: 157px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.inquire_number img {
    width: 64px;
    display: block;
    margin-bottom: 6px;
}
.inquire_number p {
    font-size: 32px;
}
.inner_container_footer span {
    display: block;
    width: 1px;
    height: 122px;
    background-color: #707070;
    margin-right: 126px;
}
.mail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.mail img {
    display: block;
    margin-bottom: 21px;
}
.mail p {
    font-size: 23px;
}
/* footer */
#footer {
    border-top: 2px solid #777;
}

.inner_footer {
    box-sizing: border-box;
    width: 1320px;
    margin: 0 auto;
    padding: 61px 83px 36px 4px;
    display: flex;
    justify-content: space-between;
}

.footer_link {
    display: flex;
}

.footer_link li {
    font-size: 14px;
    font-weight: 800;
    margin-right: 32px;
}

.footer_link li:nth-child(5) {
    color: #64352D;
}

.info {
    font-size: 12px;
    margin: 32px 0 26px;
    line-height: 20px;
}

.info p {
    margin-right: 9px;
    display: inline;
}

.bold {
    font-weight: 700;
}

.copy {
    color: #999;
    font-family: 'S-CoreDream';
    font-weight: 900;
    font-size: 12px;
    margin-bottom: 26px;
}

.sns {
    display: flex;
}

.sns li {
    margin-right: 21px;
}

.sns li a {
    display: block;
}

.sns li a img {
    display: block;
    width: 100%;
}